@model UsuarioChangePasswordModel

@{
    Layout = "_CenteredLayout";
    ViewBag.LayoutColumns = 6;
    
    ViewBag.Title = "Reestablecer Password";
    
    var cancelUrl = Url.Action("Detail", new { id = Model.UsuarioId });
}

<h2 class="page-header">
  @ViewBag.Title
</h2>

@Component.Invoke("BasicEditor", Html, Model, cancelUrl)