body {
  background: #FFF;
}

#main {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #FFF;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #767676;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
  .page-footer p {
    margin-bottom: 0;
  }

.detail-list {
  margin: 20px 0;
}
  .detail-list .row {
    line-height: 30px;
    margin: 5px 0;
    padding: 0 0 5px 0;
    
    border-bottom: 1px solid #EEE;
  }
    .detail-list .row > :first-child {
      color: #888;
    }

.panel-body .well {
  margin: 20px 0;
  padding: 10px 20px;
}
  .panel-body .well .detail-list {
    margin: 0;
  }
    .panel-body .well .detail-list .row {
      border-bottom: 1px solid #CCC;
    }
      .panel-body .well .detail-list .row:last-child {
        border-bottom: 0;
      }

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.panel.with-table > .panel-heading {
  padding: 5px;
}

.table td {
  white-space: nowrap;
}

.inline-modal {
  max-width: 600px;
  margin: 40px auto;
}
