@using System.Reflection
@using MingaDigital.App.Controllers
@inject Microsoft.AspNet.Mvc.ApplicationModels.IControllerModelBuilder applicationModelBuilder
<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title – Minga Digital</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/main.css">

  <link rel="stylesheet" href="/css/typeahead.css">
  <script src="/lib/typeahead.bundle.min.js"></script>
</head>
<body>

@Html.Partial("_NavBar")

<div id="main">
  <div class="container">

@RenderBody()

  </div>
</div>

@Html.Partial("_Footer")

</body>
</html>
