@using System.Reflection
@using System.ComponentModel

@{
    Layout = "_CenteredLayout";
    
    var model = (Object)Model;
    var modelType = model.GetType();
    var modelDescription = modelType.GetCustomAttribute<DescriptionAttribute>()?.Description;
    
    ViewBag.Title = "Crear " + modelDescription;
    
    var cancelUrl = Url.Action("Index");
}

<h2 class="page-header">
  @ViewBag.Title
</h2>

@Component.Invoke("BasicEditor", Html, Model, cancelUrl)