@model TipoActividad

@{
  ViewBag.Title = "Eliminar " + Model.Descripcion;
}

<h1>@ViewBag.Title</h1>

<div class="panel panel-danger" >
  <div class="panel-heading"><b>CONFIRMACI&Oacute;N</b></div>
  <div class="panel-body">
    <form role="form" name="form" method="POST">
      <div class="text-left">
        <p>&iquest;Est&aacute; seguro que desea eliminar el tipo de actividad?</p>
      </div>
      <div class="text-right">
        <a href="@Url.Action("Index")" class="btn btn-default">Cancelar</a>
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </div>
    </form>
  </div>
</div>
