@model PersonaEditorModel

@{
    ViewBag.Title = "Nueva Persona Fisica";
}

<h2 class="page-header">
  @ViewBag.Title
</h2>

<form method="POST">
  @Html.ValidationSummary("")
  
  @Html.EditorFor(m => m)
  
  <div class="text-right">
    <a href="@Url.Action("Index")" class="btn btn-link">Cancelar</a>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>