@model UsuarioEditorModel

@{
    Layout = "_CenteredLayout";
    
    ViewBag.Title = "Crear Usuario";
    
    var cancelUrl = Url.Action("Detail", new { id = Model.PersonaFisicaId });
}

<h2 class="page-header">
  @ViewBag.Title
</h2>

@Component.Invoke("BasicEditor", Html, Model, cancelUrl)