@model PersonaDetailModel

@{
    ViewBag.Title = "Eliminar Persona Fisica";
}

<div class="panel panel-danger" >
  <div class="panel-heading">
    <b>Advertencia</b>
  </div>
  
  <div class="panel-body">
    <p>&iquest;Desea <strong>eliminar</strong> el siguiente registro de <strong>Persona Física</strong>?</p>
    
    <div class="well">
      @Html.DisplayFor(m => m)
    </div>
    
    <form role="form" name="form" method="POST">
      <div class="text-right">
        <a href="@Url.Action("Index")" class="btn btn-sm btn-link">Cancelar</a>
        
        <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
      </div>
    </form>
  </div>
</div>